<html>
    <body>
        <h1>Messages</h1>

        <button onclick="location.href='/message/create';">Create Message</button>

        <% if (locals.messages) {%>
            <ul>
                <% messages.forEach((message)=> { %>
                    <li>

                        <h1><%= message.title %> by <%= message.username %></h1>
                        <p><%= message.message %></p>
                        <p><%= message.createtime %></p>

                        <% if (user.isadmin) { %>
                            <button onclick="location.href='/message/delete/<%= message.id %>';">Delete</button>
                        <% } %>

                    </li>
                <% }); %>
            </ul>
        <% } %>

        <button onclick="location.href='/log-out';">Log Out</button>
    </body>
</html>